body {
    /* padding-right: auto; */
    background: fffff0;
}

.ticket-btn-add {
    display: flex;
    background: rgb(189, 246, 189);
    justify-content: flex-end;
    /* float: right; */
    /* margin-right: 100%; */
    margin-left: auto;
    margin-bottom: 10px;
    height: 40px;

    justify-content: center;
    align-items: center;
    padding: 0px 10px;

    border-radius: 10px;
}

.btn {
    display: flex;
    text-align: right;
}

.ticketElement {
    border: 1px solid #000;
    margin: 1px;
    padding: 10px 5px;
    background-color: rgb(205, 250, 235);
}

.ticket {
    display: flex;
    content: center;
    align-items: center;
}

.checkboxDone, .buttonX, .buttonEdit {
    border: 1px solid #000;
    margin: 5px 10px;
    padding: 5px;
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;  
}

.buttonX, .buttonEdit {
    background-color: aliceblue;
}

.buttonX, .buttonEdit, .ticket-btn-add, .checkbox-input {
    cursor: pointer;
}

/* --- ModalAdd --- */
.title, .created {
    padding: 2px auto;
}

.title {
    text-align: center;
}

/* .buttonEdit {
    margin: 0px 15px;
} */

/* .buttonX {
    border: 1px solid #000;
} */

.description {
    display: none;
}


.displayNone {
    display: none;
}

.modal-add {
    border: 1px solid #000;
    min-width: 300px;
    min-height: 20px;
    border-radius: 10px;
    margin: 0px 10%;
    background-color: rgb(223, 203, 243);

    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);

    z-index: 1010;
}

.modal-overlay {
    /* рекомендация:
       Не зацикливайтесь на значении "1000", у вас 
       должна быть задокументированная система для свойства z-index,
       которую необходимо соблюдать. Данное значение должно быть
       довольно большим в вашей системе.
    */	
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


.divForm {
    padding: 3px 23px 3px 15px;
}

.d, .dd {
    margin-bottom: 5px;
    width: 100%;
}

input.d {
    height: 25px;
}

input.dd {
    height: 50px;
}

.divButton {
    padding: 3px 0px;
    text-align: right;
}

.btnOk {
    margin: 0px 0px 0px 5px;
    min-height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
}

.btnCancel {
    margin: 0px 5px 0px 0px;
    min-height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
}


